html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
}

header h1 {
    text-align: center;
    font-weight: normal;
    font-size: 50px;
}

.dl-link {
    text-align: center;
}

.dl-link a {
    color: aquamarine;
    font-size: 16px;
}

.img-container {
    display: flex;
    justify-content: center;
}

.info {
    text-align: center;
}

.info h1 {
    font-weight: 300;
    font-size: 42px;
}

.info p {
    color: grey;
}

.info img {
    width: 95%;
}

.app h1 {
    font-weight: normal;
    text-align: center;
}

.app img {
    padding: 30px;
}

footer {
    text-align: right;
    color: grey;
}